<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"/>
    <title>Raj NX</title>
</head>

<body style="justify-content: center; align-items: center; display: flex;">
    <div style="width: 100%;" id='tally'>
        <h1 class="sign" style="text-align: center; font-size: 50px;">RAJ NX</h1>
        <div v-if="!logged" class="main" style="align-items: center; justify-content: space-around;">
            <p class="sign" style="text-align: center; ">PIN</p>
            <div style="display: flex; justify-content: space-around;">
                <input class="pass" type="password" v-model="Epin" maxlength="4" placeholder="Password" />
            </div>

            <div style="display: flex; justify-content: space-around;">
                <a class="submit" @click="login">ENTER</a>
            </div>
        </div>
        <div v-if="logged" class="main" style="align-items: center; justify-content: center; ">
            <p class="sign" align="center">Drawer Amount<br>{{amt}}/--</p>
            <div style="display: flex; justify-content: space-around;">
                <input class="pass" type="number" maxlength="4" v-model='Eamt' :value="Eamt" placeholder="Amount" />
            </div>
            <div style="justify-content: space-around; display: flex;"><a class="submit" @click="add">+</a><a
                    class="submit" @click="sub">-</a></div>
        </div>
        <div v-if="logged" class="main" style="align-items: center; justify-content: center;">
            <p class="sign" align="center">{{date}}</p>
            <hr style="background: gray;">
            <table style="width: 100%; margin: 5px;">
                <tr>
                    <th class="sign" style="font-size: 15px;">Time</th>
                    <th class="sign" style="font-size: 15px;">Amount</th>
                </tr>
                <tr v-for="t in tnx" style="text-align: center;">
                    <td style="color: gray;">{{new Date(t.time.toDate()).getHours()}}:{{new
                        Date(t.time.toDate()).getMinutes()}}:{{new Date(t.time.toDate()).getSeconds()}}</td>
                    <td v-bind:style="[t.amt>0 ? {color:'green'} : {color:'red'}]">{{t.amt}}</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        new Vue({
            el: '#tally',
            data: {
                date: '',
                amt: 0,
                tnx: [],
                db: null,
                pin: null,
                Eamt: '',
                Epin: '',
                logged: false
            },
            mounted() {
                var today = new Date();
                var year = today.getFullYear();
                var mes = today.getMonth() + 1;
                var dia = today.getDate();
                this.date = dia + "-" + mes + "-" + year;
                var firebaseConfig = {
                    apiKey: "AIzaSyCe2BPuZNlqiTPO6_qoKt75-rOkPsQ7o5k",
                    authDomain: "mundrawala-b3bc4.firebaseapp.com",
                    projectId: "mundrawala-b3bc4",
                    storageBucket: "mundrawala-b3bc4.appspot.com",
                    messagingSenderId: "792118701419",
                    appId: "1:792118701419:web:237503548247e5fcf8f02e",
                    measurementId: "G-VVPSWYND3Y"
                };
                firebase.initializeApp(firebaseConfig);
                firebase.analytics();
                this.db = firebase.firestore();
                this.db.collection('rajnx').doc('dwr_amt').onSnapshot((doc) => {
                    this.amt = doc.data().amt
                    this.pin = doc.data().pin
                });

                this.db.collection('rajnx').doc(this.date).onSnapshot((d) => {
                    this.tnx = d.data().tnx;
                })


            },
            methods: {
                login() {
                    if (this.pin === this.Epin) {
                        this.logged = true;
                    }
                },
                add() {
                    if (this.Eamt !== '') {
                        this.tnx.push({ 'time': new Date(), 'amt': parseInt(this.Eamt) })
                        this.db.collection('rajnx').doc(this.date).set({
                            tnx: this.tnx
                        }, { merge: true }).then(() => {
                            this.db.collection('rajnx').doc('dwr_amt').update({
                                amt: this.amt + parseInt(this.Eamt)
                            })
                            this.Eamt = ''
                        })

                    }
                },
                sub() {
                    if (this.Eamt !== '') {
                        this.tnx.push({ 'time': new Date(), 'amt': parseInt('-' + this.Eamt) })
                        this.db.collection('rajnx').doc(this.date).set({
                            tnx: this.tnx
                        }, { merge: true }).then(() => {
                            this.db.collection('rajnx').doc('dwr_amt').update({
                                amt: this.amt - parseInt(this.Eamt)
                            })
                            this.Eamt = ''
                        })
                    }
                }
            }

        })
    </script>
</body>

</html>