<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <title></title>
  </head>
  <body>

    <div id="app">
      <table border=1>
          <tr v-for='row in r'>
              <td v-for='col in c'>
                  {{row}}/{{col}}
              </td>
            </tr>
      </table>
    </div>

    <script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
          r:10,
          c:10
        }
      })
    </script>
  </body>
</html>
