<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Court Fee Calc</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="heading">
        <h1>Court Fee Calculator</h1>
    </div>
    <div id="cfc">
    <div style="display: flex; justify-content:space-between; margin:5%;">
      <button type="button" @click="sa=true; oa=false" href="#sa" style="margin-left:5%; margin-right:5%;" class="button" name="button">Securitisation Application (SA)</button>
      <button type="button" @click="oa=true; sa=false" href="#sa" style="margin-left:5%; margin-right:5%;" class="button" name="button">Original Application (OA)</button>
    </div>
    <div style="display: flex; justify-content:space-around; ">
        <div class="box" v-if="sa" id="sa">
          <h3>Securitisation Application (SA)</h3>
          <input class="input" v-model="sAmt" type="number" name="amt_sa" placeholder="Amount " required><br>
          <i style="color:red; white-space:pre-wrap;">{{sErr}}</i><br>
          <span><input type="radio" id="brw" v-model="saType" value="Borrower" name="sa_type">
          <label style="color:#21ba9e;">Borrower</label></span>
          <span style="margin-left:5%; margin-right:5%;"></span>
          <span><input type="radio" id="tp" v-model="saType" value="Third party" name="sa_type">
          <label style="color:#21ba9e;">Third party</label></span><br>
          <button type="button" @click="sCalc" style="margin:10%;" class="button" name="button">Calculate</button><br>
          <div class="fee">
                {{sFee}}
          </div>
        </div>

        <div class="box" v-if="oa" id="oa">
          <h3>Original Application (OA)</h3>
          <input class="input" v-model="oAmt" type="number" name="amt_oa" placeholder="Amount " required><br>
          <i style="color:red;">{{oErr}}</i>
          <span></span><br>
          <button type="button" @click="oCalc" style="margin:10%;" class="button" name="button">Calculate</button><br>
          <div class="fee">
              {{oFee}}
          </div>
        </div>
    </div>
    </div>
    <script>
      new Vue({
        el: "#cfc",
        data: {
          sa:false,
          oa:false,
          sAmt:'',
          oAmt:'',
          sFee:'Fee:-',
          oFee:'Fee:-',
          saType:'',
          sErr:'',
          oErr:''
        },
        methods: {
      oCalc: function () {
        this.oFee='Fee:-';
        this.oErr='';
        if(this.oAmt!=='')
        {
          if(this.oAmt >= 1000000)
          {
            if(this.oAmt == 1000000)
            {
                this.oFee=12000;
            }
            else if(this.oAmt > 1000000)
            {
              this.oFee = Math.round(12000+(((this.oAmt-1000000)/100000)*1000));
            }
            if(this.oFee>=150000)
            {
              this.oFee=150000;
            }
            this.oFee="Fee:- ₹"+this.oFee+"/--"
          }
          else{
            this.oErr="⚠️ The amount can not be below 1000000 (10 Lakh)";
          }
      }
      else
      {
        this.oErr="⚠️ The amount field can not be empty..";
      }

      },
    sCalc: function () {
        this.sFee='Fee:-';
        this.sErr='';
        if(this.sAmt!=='')
        {
          if(this.sAmt>=100000)
          {
            if(this.saType==="Third party")
            {
                this.sFee = Math.round((this.sAmt/100000)*125);
                if(this.sFee >= 50000){
                  this.sFee=50000;
                }
              this.sFee="Fee:- ₹"+this.sFee+"/--"
            }
            else if (this.saType==="Borrower")
            {
              if(this.sAmt>=100000 && this.sAmt<=1000000)
              {
                this.sFee=Math.round((this.sAmt/100000)*500);
              }
              else if (this.sAmt>1000000)
              {
                this.sFee = Math.round(5000+((this.sAmt-1000000)/100000)*250);
              }
              if(this.sFee >= 100000)
              {
                this.sFee=100000;
              }
              this.sFee="Fee:- ₹"+this.sFee+"/--"
            }
          }
          else
          {
            this.sErr="⚠️ The amount can not be below 100000 (1 Lakh) \n";
          }

          if(this.saType=='')
          {
            alert("ye")
            this.sErr=this.sErr+"⚠️ Please select whether your borrower or third party";
          }
        }
        else
        {
          this.sErr="⚠️ The amount field can not be empty..";
        }
      }
    }
      })
    </script>
  </body>
</html>
