body{
  background:#ccd8d6;
  text-align: center;
}
.tab-full {
  width: 100%;
  display: inline;
}
.heading{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #21ba9e;
  line-height: 70px;
}

.box{
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 80%;
  height: 510px;
  color: white;
  display: inline-block;
}

.box>h3{
  color:purple;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input{
  width:78%;
  height: 46px;
  background-color:#ccd8d6;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 5px;
  margin-bottom: 20px;
}
.fee{
  height: 15%;
  width: 80%;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ccd8d6;
  font-weight: bold;
  text-align: left;
  color: #21ba9e;
}
.button{
  width: 80%;
  background-color: #21ba9e;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
}
